{
  "printWidth": 180,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "vueIndentScriptAndStyle": true,
  "plugins": ["@shufo/prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "tabWidth": 2,
        "singleAttributePerLine": false,
        "bracketSameLine": true,
        "indentInnerHtml": true,
        "parser": "blade",
        "sortTailwindcssClasses": true,
        "sortHtmlAttributes": "vuejs",
        "wrapAttributes": "auto",
        "wrapAttributesMinAttrs": 10
      }
    }
  ]
}
