@import "tailwindcss";
@import "tw-animate-css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../resources/js/**/*.vue';
@source '../../resources/js/**/*.ts';
@source '../../resources/views/**/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --color-background: var(--color-base-100);
  --color-foreground: var(--color-base-content);
  --color-card: var(--color-base-100);
  --color-card-foreground: var(--color-base-content);
  --color-popover: var(--color-base-100);
  --color-popover-foreground: var(--color-base-content);
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-content);
  --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-content);
  --color-muted: var(--color-base-200);
  --color-muted-foreground: var(--color-neutral);
  --color-accent: var(--color-accent);
  --color-accent-foreground: var(--color-accent-content);
  --color-destructive: var(--color-error);
  --color-destructive-foreground: var(--color-error-content);
  --color-border: var(--color-base-200);
  --color-input: var(--color-base-300);
  --color-ring: var(--color-base-content);
  --color-chart-1: var(--color-error);
  --color-chart-2: var(--color-success);
  --color-chart-3: var(--color-info);
  --color-chart-4: var(--color-warning);
  --color-chart-5: var(--color-secondary);
  --color-sidebar: var(--color-base-200);
  --color-sidebar-foreground: var(--color-base-content);
  --color-sidebar-primary: var(--color-primary);
  --color-sidebar-primary-foreground: var(--color-primary-content);
  --color-sidebar-accent: var(--color-accent);
  --color-sidebar-accent-foreground: var(--color-accent-content);
  --color-sidebar-border: var(--color-base-300);
  --color-sidebar-ring: var(--color-accent);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body,
  html {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}

:root {
  --color-base-100: oklch(100% 0.00011 271.152);
  --color-base-200: oklch(97.437% 0.01088 256.847);
  --color-base-300: oklch(93.268% 0.016 262.751);
  --color-base-content: oklch(41.886% 0.053 255.824);

  --color-primary: oklch(56.86% 0.255 257.57);
  --color-primary-content: oklch(91.372% 0.051 257.57);

  --color-secondary: oklch(42.551% 0.161 282.339);
  --color-secondary-content: oklch(88.51% 0.032 282.339);
  --secondary-foreground: var(--color-secondary-content);

  --color-accent: oklch(59.939% 0.191 335.171);
  --color-accent-content: oklch(11.988% 0.038 335.171);
  --accent-foreground: var(--color-accent-content);

  --color-neutral: oklch(19.616% 0.063 257.651);
  --color-neutral-content: oklch(83.923% 0.012 257.651);

  --color-info: oklch(88.127% 0.085 214.515);
  --color-info-content: oklch(17.625% 0.017 214.515);
  --color-info-foreground: var(--color-info-content);

  --color-success: oklch(80.494% 0.077 197.823);
  --color-success-content: oklch(16.098% 0.015 197.823);

  --color-warning: oklch(89.172% 0.045 71.47);
  --color-warning-content: oklch(17.834% 0.009 71.47);

  --color-error: oklch(73.092% 0.11 20.076);
  --color-error-content: oklch(14.618% 0.022 20.076);

  --radius: 1rem;
  /*--radius: 0.5rem;*/
}

.dark {
  --color-base-100: oklch(20.768% 0.039 265.754);
  --color-base-200: oklch(19.314% 0.037 265.754);
  --color-base-300: oklch(17.86% 0.034 265.754);
  --color-base-content: oklch(84.153% 0.007 265.754);

  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(15.07% 0.027 232.661);

  --color-secondary: oklch(68.011% 0.158 276.934);
  --color-secondary-content: oklch(13.602% 0.031 276.934);

  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);

  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);

  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);

  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);

  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(16.648% 0.027 82.95);

  --color-error: oklch(71.785% 0.17 13.118);
  --color-error-content: oklch(14.357% 0.034 13.118);

  --radius: 1rem;
  /*--radius: 0.5rem;*/
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
